
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
	border-radius: 3px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #FFF;
	background-color: #3498db00;
	text-decoration: none;	
}

.blue
{
	background-color: #3498db;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	/* width: 18%; */
	background-color: #e74c3c;
	border-bottom: 5px solid #c0392b;
	text-shadow: 0px -2px #c0392b;
}

.green
{
	background-color: #2ecc71;
	border-bottom: 5px solid #27ae60;
	text-shadow: 0px -2px #27ae60;
}

.yellow
{
	background-color: #f1c40f;
	border-bottom: 5px solid #f3b712;
	text-shadow: 0px -2px #b6aea1;
}

.orange
{
	background-color: #f18f0f;
	border-bottom: 5px solid #df830b;
	text-shadow: 0px -2px #cc7708;
}

.joinChat
{
	background-color: #ffa034;
	border-bottom: 5px solid #df830b;
}

.action-button:active
{
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.action-button:hover
{
	color: #ffffffb7;
}