#chat {
  flex: 0 22vw;
  order: 2;
  max-height: 89vh;
  min-height: 89vh;
  max-width: 24vw;
  min-width: 24vw;
  /* border-radius: 15px; */
  background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.185));
}

#chatButtonTop
{
  background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.185));
  border-radius: 15px;
  max-height: 14vh;
  min-height: 100px;
  overflow-y: auto;
}

 .chatForm {
  right: 0;
  bottom: 4vh;
  min-height: 3vh;
  width: 22vw;
  max-width: 22vw;
  padding-right: 1%;
  padding-left: 1%;
  border:0;
  border-radius: 5px;
  align-items: center;
}

#chatCmdHelp p{
  color:black;
}

#txtWrap {
  padding-right: 3%;
  padding-left: 3%;
  max-height: 75vh;
  padding-bottom: 8%;
  word-wrap: break-word;
  overflow-y: auto;
}

/* MEDIA QUERIES */

@media all and (min-width: 550px) {

  .chatForm {
    position: fixed;
  }
}

@media all and (max-width: 800px) {

  #chat {
    min-width: 200px;
  }
  .chatForm {
    min-width:  185px;
  }

}

@media all and (max-width: 550px) {

  #chat {
    margin-top: 15%;
    margin-bottom: 10%;
    max-height: 80vh;
    min-width: 85vw;
  }

  .chatForm {
    min-width: 75vw;
  }

  #chatButtonTop
  {
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.185));
    border-radius: 15px;
    overflow-y: auto;
  }

}

@media all and (max-height: 800px) {

  .chatForm {
    bottom: 0;
    min-height: 30px;
  }
  
}
 
@media all and (max-height: 400px) {

  #txtWrap {
    max-height: 55vh;
  }
  
}
 

@media all and (max-height: 700px) {
  #chat {
    min-height: 700px;
  }

  #txtWrap {
    min-height: 550px;
  }
}