#chat {
  padding-right: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  height: 87vh;
  width: 20vw;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.185));
  /* background-color: rgba(255, 255, 255, 0.473); */
}

#chatForm {
  position: absolute;
  /* padding-bottom: 0.1%; */
  bottom: 0;
  width: 20vw;
  text-align: center;
}

.buttonChanTop {
  /* position: absolute;
  top: 9%; */
  padding-right: 1%;
  text-overflow: ellipsis;
}

/* 
.buttonChanBottom {
  width: 70px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: auto;
}

.textArea {
  margin-top: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.tstWrap {
  margin: 1%;
  word-wrap: break-word;
}
