body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

/* html, body {
  height: 100%;
  margin: 0px;
} */

.connectButton {
  background-color: rgb(49, 49, 175);
  color: white;
}

#App {
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

#header {
  display: flex;
  padding: 2vw;
  justify-content: space-between;
  align-items: center;
  height: 3vh;
  flex-basis: 100%;
  background: linear-gradient(rgb(25, 25, 26), rgba(255, 255, 255, 0));
}

#content {
  display: flex;
  flex-grow: 1;
  height: 87vh;
  border-color: black;

  text-align: center;
  justify-content: center;
  align-items: center;
}



/* Caption = titre du tableau de ranking */
caption {
  margin: 5%;
}

table, th, td {
  overflow-y: auto;
  width: 50vw;
  text-align: center;
  margin: auto;
}


#footer {
  height: 3vh;
  flex-basis: 100%;
  border: 1px solid;
  border-color: black;
  background-color: #ace1aea2;
  text-align: center;
}


/* @media screen and (max-width: 750px) {
  #content{
    height: 90vh;
  }
  #chat{
    height: 90vh;
  }
} */


#App {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
