body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#App {
  background: linear-gradient(-45deg, #b95c40, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}
/* Background animation : */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p {
  color: white;
}

form p {
  color: black;
}

#inviteGamePopup p {
  color: black;
}

label {
  color: white;
}

.userAlertP{
  color: black;
} 

/*---------- HEADER ----------*/
/* 
header {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  color:antiquewhite;
  background: linear-gradient(rgba(30, 30, 31, 0.616), rgba(255, 255, 255, 0));
} */

#navBar {
  /* color:antiquewhite; */
  background: linear-gradient(rgba(30, 30, 31, 0.616), rgba(255, 255, 255, 0));
}


/* .reductLinkNavbar {
  text-decoration:none;
  color: black;
} */

/* .ButtonLinkNavbar  {
  text-decoration:none;
  color: rgb(255, 255, 255);
} */


/* header #LogInfoAvatAlert {
  display: flex;
}

header h3 {
  font-size: 1.5em;
  margin: 1.5vw 2vw;
}

header nav {
  display: flex;
  padding: 20px 50px;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  color: #0e151d;
  padding: 10px 3vw;
  border-radius: 5px;
  background: #fff;
  transition: all ease-in-out 0.2s;
}

nav a:hover {
  background: #a8dadc;
  transition: all ease-in-out 0.2s;
}

nav .active {
  background: #457b9d;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}

#disconnectButton
{
  background: #ce1414;
} */

/*---------- BODY ----------*/

#body {
  display: flex;
  height: 89.5vh;
  text-align: center;
  justify-content:space-evenly;
  align-items: center;
  font-family: "ROBOTO", sans-serif;
  
}

#body .action-button {
  justify-content:space-evenly;
  align-items: center;
  min-width: 20vw;
}

#content {
  flex: 1;
  order: 1;
  max-height: 86vh;
  overflow:hidden;
  /* overflow-y: auto; */
}
/* 
#content *{
  display: 'flex';
  margin:'auto';
  justify-content:'center';
  align-content: 'center';
  align-items: 'center';
  flex-wrap: 'wrap';
  background-color: #b95c40;
} */

footer {
  bottom: 0;
  min-height: 2vh;
  max-height: 2vh;
  /* background: linear-gradient(rgba(255, 255, 255, 0), rgba(30, 30, 31, 0.616)); */
  text-align: center;
}

#chatListStack
{
  overflow:hidden;
  overflow-y: scroll;
  max-height: 50vh;
  /* padding-top: 1%; */
}

/* ------ Ranking table ------ */
#RankingArrayDiv
{
  overflow:hidden;
  overflow-y: scroll;
  height: 87vh;

}

table {
  overflow:hidden;
  overflow-y: scroll;
  width: auto;
  min-width: 30vw;
  margin: auto;
  text-align: left;
  overflow-y:scroll;
  max-height: 1vh;
  padding-top: 1%;
}

th p{
  margin: auto;
}

th {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

tbody {
  text-align: center;
}

/* #AvatNameRanking {
  display: inline-block;
  white-space: nowrap;
} */

caption {
  padding-top: 7%;
}

/* ------ IMAGES ------ */

#avatarMyProfil {
  border-radius: 8px;
  width: 20w;
  height: 24vh;
  min-width: 200px;
  min-height: 200px;
}
/* 
#avatarHeader {
  border-radius: 8px;
  max-width: 5vw;
  min-width: 6vw;
  height: 9vh;
} */

#pongImgPlayMenu {
  width: 16vw;
  height: 24vh;
  min-width: 200px;
  min-height: 200px;
}

#RanktropheeImg {
	height: 15vh;
	width: 10vw;
  min-width: 170px;
  max-width: 200px;
  min-height: 200px;

}

/* #alert {
  width: 5vw;
  height: 9vh;
} */

/* #miniAvatRanking {
    padding-right: 5%;
    min-height: 5vh;
    max-height: 6vh;
    min-width: 5vw;
    max-width: 5vw;
} */

/* issue when try to put as normal image idk why so i use a button*/
#bulleButtonTricks {
	border: 0;
	background-color:#ffffff00;
	background-image: url('../styles/medias/bulle.png');
	height: 30vh;
	width: 15vw;
  min-width: 200px;
  min-height: 200px;
	background-size: 100% 100%;
}

#board {
  height: 80vh;
  width: 70vw;
  border-radius: 15px;
}

/* MEDIA QUERIES TO BE MORE RESPONSIVE */
@media all and (min-width: 550px) {
  .chatForm {
    position: fixed;
  }
}

@media all and (max-height: 600px) {
  * {
    overflow-y: scroll;
  }

  /* img {
    min-height: 5vh;
  } */

  /* #RanktropheeImg {
    min-height: 25vh;
  } */
}

  @media all and (max-width: 920px) {
  * {
    overflow-y: auto;
    overflow-x: hidden;
  }

  table {
    height: auto;
    min-width: 75vw;
  }

  /* header { 
    justify-content: space-around;
    height: auto;
  } */

  #chat {
    min-height: 70vh;
  }

  #body {
    min-height: 50vh;
  }

  /* .imgHeader {
    margin: 5px;
    min-width: 60px;
    min-height: 60px;
  } */
/* 
  img {
    min-width: 25%;
  } */

}

@media all and (max-width: 550px) {
  
  #App {
    overflow-y: scroll;
  }

  /* header {
    flex-direction: column;
  }
  

  header .action-button {
    min-width: 40vw;
  }
   */
  #body {
    margin-top: 10%;
    flex-direction: column;
    min-height: 40vh;
    height: auto;
    width: auto;
  }

  #chat {
    margin-top: 15%;
    margin-bottom: 10%;
    max-height: 80vh;
    min-width: 70vw;
  }

  .chatForm {
    min-height: 5vh;
    min-width: 70vw;
  }
  
  footer {
    padding-left:22vw;
    padding-top: 5vw
  }

  /* .imgHeader {
    padding-right: 3vw;
    min-width: 100px;
    min-height: 100px;
  }

  img {
    min-width: 45%;
    min-height: 6vh;
  } */

/* #pongImgPlayMenu {
  min-width: 100%;
} */

/* #RanktropheeImg {
  min-height: 40vh;
} */

/* #avatarHeader {
  min-width: 18vw;
} */

}

#errorMessage {
  color: red;
  font-size: large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* background-color:transparent; */
  /* margin: auto; */
  /* background-color: white; */
  /* border: solid black 1px; */
  /* max-width: fit-content; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* border-radius: 5px; */
  /* text-align: justify; */
}